/*淡入淡出*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/*带位移的渐入渐出*/
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .4s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/*挤压动画*/
.push-enter-active,
.push-leave-active {
  transition: all 0.28s;
}
.push-enter,
.push-leave-to {
  transform: translate3d(0, 30px, 0);
  opacity: 0;
}
